* {
  font-family: "メイリオ";
  color: #383E45;
}

body {
  font-size: 0.9rem;
}

img {
  max-width: 100%;
}

p {
  margin-top: 8px;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto 100px auto;
  text-align: center;
  padding: 0 4%;
}

.section-title {
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  border-bottom: 1px solid #383E45;
}

.content-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 8px;
}

/* header */
#header {
  margin: 0 auto ;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 a {
  display: inline-block;
  background-color: #393e46;
  color:white;
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
}

header ul {
  display: flex;
}

header li:first-child {
  margin-right: 30px;
}

header li:hover {
  opacity: 0.7;
}

/* main */

.mainvisual {
  margin-bottom: 80px;
}

.mainvisual img {
  width: 100%;
  max-width: 1920px;
  height: 600px;
  object-fit: cover;
}

/* About */

.about {
  text-align: center;
}

.about .content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.about img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 10px;
}

.about .text {
  margin-left: 30px;
  text-align: left;
}

.about p {
  margin-top: 10px;
}

/* bicycles */

.bicycles{
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.bicycles li {
  width: 32%;
}

.bicycles .content-title {
  margin-top: 8px;
}

/* footer */

footer{
  font-size: 0.5rem;
  padding: 10px 0;
  text-align: center;
}

/* sp */
@media screen and (max-width: 600px) {
  header ul {
    margin-right: 4%;
  }

  .mainvisual {
    /* 600px以下になるとaboutの上余白がなくなる原因がこれですね↓
    mv画像には600px付与していますが、こちらのheight設定でdiv clsss=mainvisualが多分400pxくらい？？になってしまってました。（要するに画像の高さとdivの高さが不揃いなせいで上にせりあがってしまっている）
    一旦画像の600pxにあわせちゃっていいのでこちらコメントアウトしておきます。
    コメント外すなどしてどのように変わるか確認してみてください！
     */
    /* height: calc(100vh - 60px); */
  }

  /* about */
  .about .content{
    flex-direction: column;
  }

  .about .text {
    margin-top: 4%;
  }

  /* bicycles */
  .bicycles {
    flex-direction: column;
  }
  .bicycles li {
    width: 100%;
    margin-bottom: 30px;
  }
}
